.topnav{
    background-color: #ffffff;
    overflow: hidden;
    border-width: 10px;
    border: #000000;
    margin-right: 50px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    border: 50px;
}
.topnav-logo a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav-logo-right a {
    float: right;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav a.active {
    background-color: #04AA6D;
    color: rgb(80, 79, 79);
  }